# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/
*.iml

# ASP.NET Core
bin/
obj/

# Configuration
appsettings.Development.json
appsettings.Local.json
appsettings.*.json

# Sensitive information
**/secrets.json
*.key
*.pfx

# Logs
*.log
logs/

# Backup files
*.bak
*.swp

# Temporary files
*.tmp
*.temp
*.cache
*.pid
*.gz
*.tar
*.zip

# Resharper files
_ReSharper.Caches/

# Code coverage
coverage/

# Other files and directories
*.DS_Store
Thumbs.db

# Database files
*.db
*.db-shm
*.db-wal
