@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="table-responsive">
    <table class="table table-hover table-bordered align-middle">
        <thead class="table-primary">
            <tr>
                <th>Contact List</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model.Dto)
            {
                <tr onclick="location.href='@Url.Page("/CreateContact", new { id = contact.Id })'" style="cursor: pointer;">
                    <td>@($"{contact.FirstName} {contact.Surname}")</td>
                </tr>
            }
        </tbody>
    </table>
</div>